@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

.flex-center {
  @apply flex items-center justify-center;
}

html,
body,
:root {
  height: 100%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.animation-heartbeat {
  animation: heartbeat ease-out 500ms 1;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
